html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #000;
    color: white;
}

.App {
  height: 100vh;
}

main {
  padding: 0 2rem;
  min-height: 100%;
  z-index: 2;
  background: none;
  position: relative;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

li, a {
  transition: opacity 0.5s;
  pointer-events: auto;
  list-style: none;
}

li:hover, a:hover {

  cursor: pointer;
  opacity: 0.7;
}