
.nav {
  margin-top: 5rem;
  width: min-content
}

.nav li {
  list-style: none;
  margin: 1rem 0;
}

.biograph {
  width: 140px;
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}


@media (max-width: 900px) {
  .nav {
    margin-top: 2rem;
    
  }

  .nav li {
    margin: 0.5rem 0;
  }

  .biograph {
    font-style: italic;
    right: 1rem;
    bottom: 2rem;
  }

  
}