section.projects {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 4rem;
    max-height: 90%;
    position: absolute;
}

section.projects nav {
    display: flex;
    gap: 2rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 70%;
    pointer-events: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    place-items: center;
    justify-content: center;
    overflow: auto;
}

.project {
    width: 45%;
    position: relative;
    height: fit-content;

}

.project img {
    width: 100%;
}

.project .imageFallback {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    place-items: center;
    background: rgb(0, 0, 0);
}

.imageFallback h4 {
    flex: 1;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

.projectDetail {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 1rem 2rem;
}

.project:hover .projectDetail {
    padding-top: 40%;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    opacity: 1;
    width: 100%;
    cursor: pointer;
}

