section.projects {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 4rem;
    max-height: 90%;
    position: absolute;
}

section.projects nav {
    display: flex;
    gap: 2rem;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 70%;
    pointer-events: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
    place-items: center;
    justify-content: center;
    overflow: auto;
}

.project {
    width: 45%;
    position: relative;
    height: fit-content;

}

.project img {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    object-fit: cover;
}

.project .imageFallback {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    place-items: center;
    background: rgb(0, 0, 0);
}

.imageFallback h4 {
    flex: 1;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

.projectDetail {
    transition: opacity 1s;
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 1rem 2rem;
}

@media screen and (min-width: 901px) {
    .project:hover .projectDetail {
        padding-top: 40%;
        background: linear-gradient(rgba(0, 0, 0, 0), black);
        opacity: 1;
        width: 100%;
        cursor: pointer;
    }
}


@media screen and (max-width: 900px) {
    .projectList {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    section.projects {
        top: 7rem;
        height: 100%;
        width: 108%;
        place-items: flex-end;
        text-align: end;
    }

    section.projects nav {
        display: none;
    }
    .project .imageFallback {
        display: none;
    }

    .project img {
        display: none;
    }
    .projectDetail {
        opacity: 1;
        position: relative;
        padding: 0.2rem;
    }
}