.skills {
    position: absolute;
    right: 4rem;
    top: 12rem;
    width: fit-content;
    max-width: calc(100vw - 40vw);
}

.skills button {
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skills h4 {
    font-size: large;
    text-align: end;
    margin-bottom: 0;
}

.skills>section>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    transition: 1s;
    margin-bottom: 2rem;
    justify-content: flex-end;
}

.skills li {
    width: 80px;
    text-align: center;
    overflow: visible;
}

.skills img {
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: invert(0);
}

.skills img:hover {
    transform: rotate(10deg) scale(1.1);
}

.SkillsFilter {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: 2rem;
}

.SkillsFilter button {
    font-size: larger;
}


@media (max-width: 900px) {
    .skills {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        top: auto;
        width: 100%;
        max-width: 100%;
        height: fit-content;
    }
    .skills>section>ul {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .skills li {
        width: 30px;
    }
    .skills p {
        display: none;
    }
    .skills h4 {
        font-size: small;
        margin: 1rem 0;
    }
}